* {
    box-sizing: border-box;
}

body {
    margin: 10px !important;
    font-family: 'Crimson Text', serif !important;
    background: #F2C063 !important;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    width: auto;
    opacity: 0;
    transition: opacity .7s;
}

.background img {
    height: 100%;
    object-fit: cover;
}

#home {
    display: flex;
    justify-content: center;
}

#game {
    display: none;
}

#result {
    display: none;
    position: absolute;
    top: 0;
    width: 100%; 
}


h1 {
    font-family: 'Cinzel', serif;
    color: black;
    font-size: 40px !important;
}

.home-back {
    background-color: #FEF9EF;
    width: auto;
    padding: 20px;
    border-radius: 4px;
    border: solid 5px #482608;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

img {
    width: 100%;
    filter: none;
}

.grayscale {
    filter: grayscale(1);
}

.opacity {
    opacity: 1;
    transition: opacity .5s;
}

.card {
    border: none !important;
    background: #FFBE3C !important;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: opacity .5s;
}

.cards-box {
    width: 95%;
}

.flipback {
    transform: rotateX(-360deg);
    transition: all 0.5s ease-in-out;
 }

.images {
    --animate-duration: 0.5s;
}

.btn {
    margin-bottom: 10px;
    width: 60%;
}

.text-home {
    width: 60%;
}

.player-name {
    margin-bottom: 10px;
    width: 60%;
    padding-left: 10px;
    outline-color: #F2A03D;
}


#error-message {
    display: none;
    font-weight: bold;
    color: #dc3545;
    background-color: antiquewhite;
    border: solid antiquewhite;
    border-width: 3px 12px;
    border-radius: .25rem;
}

.tries {
    background-color: antiquewhite;
    width: 95%;
    padding: 0px 20px;
    margin-top: 10px;
    border-radius: 4px;
}

.variable-text {
    color: #A63A12;
}

.result-container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
    width: 100%;
}

.result-box {
    border-radius: 5px;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: orangered;
    height: 170px;
    padding: 35px;
}

#result-text {
    margin-bottom: 20px;
    color: white;
}

.play-again {
    background-color: darkcyan !important;
    color: white !important;
}

@media (min-width: 576px) {
    h1 {
        font-size: 60px !important;
    }

    .text-home {
        margin-top: -15px;
    }

    .tries {
        width: 540px;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 75px !important;
        padding: 0 10px;
    }

    .text-home {
        width: 100%;
    }

    .container {
        max-width: 600px !important;
     }

    .tries {
        width: 600px;
    }

    .main-box-game p {
        font-size: 18px;
    }

    .game-difficulty {
        margin-bottom: 22px;
    }

    .card:hover {
        transition: .5s ease;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
}

