* {
    box-sizing: border-box;
}

body {
    margin: 10px !important;
    font-family: 'Crimson Text', serif !important;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    width: auto;
}

.background img {
    height: 100%;
    object-fit: cover;
}

#home {
    display: block;
}

#game {
    display: none;
}

#result {
    display: none;
    position: absolute;
    top: 0;
    width: 100%; 
}

h1 {
    font-family: 'Cinzel', serif;
    color: firebrick;
}

img {
    width: 100%;
    filter: none;
}

.grayscale {
    filter: grayscale(1);
}

.btn {
    margin-bottom: 10px;
}

.player-name {
    margin-bottom: 10px;
}

#error-message{
    display: none;
}

.result-container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
    width: 100%;
}

.result-box {
    border-radius: 5px;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: orangered;
    height: 170px;
    padding: 35px;
}

#result-text {
    margin-bottom: 20px;
    color: white;
}

.play-again {
    background-color: darkcyan !important;
    color: white !important;
}

@media (min-width: 992px) { 
    .container {
        max-width: 720px !important;
     }
  }